.navbar{
  font-family: 'Noto Sans JP', sans-serif;
  color:white;
}
.nav-link{
  color: white;
}
.navbar-brand{
  color: white;
  font-weight: bold;
}
.btn-sl{
  background: #3ccace;
  color: white;
  margin-top: 20px;
  
}

